body{
  background-image: url(images/BGIndex.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Rubik, sans-serif;
}
.menu{
  padding-left: 264px;
  padding-top: 63px;
  padding-right: 264px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* position: sticky;
  top: 0; */

}
.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  margin: 50px 0 0 0;
  align-self: flex-start;
  margin-right: 20px;
}
.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: white;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #FF293C, #FF479A);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}
.menu-bar a{
  text-decoration: none;
}
.isi{
  padding-left: 264px;
  padding-top: 100px;
  display: flex;
  font-size:  60px;
  height: fit-content;
  align-content: space-between;
  flex-direction: column;
  color: white;
  gap: 30px;
}
.div-5 {
  max-width: 132px;
  color: rgba(218, 218, 218, 1);
  font-size: 18px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Rubik, sans-serif;
}
.kenyamanan{
  max-width: 493px;
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Rubik, sans-serif;
}
.memproduksi{
  max-width: 493px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  font-family: Rubik, sans-serif;
}
.tombol{
  display: flex;
  margin-right: 264px;
  margin-left: 304px;
  padding-top: 50px;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
  height: fit-content;
  flex-direction: column;
  gap: 10px;
}
.div-6 {
  display: flex;
  max-width: 304px;
}
.div-7 {
  display: flex;
  max-width: 304px;
  height: 64px;
  width: 304px;
  border-radius: 67px;
  background-image: linear-gradient(
    to left,
    rgba(255, 74, 163, 1) 0%,
    rgba(255, 35, 41, 1) 100%
  );
  justify-content: center;
  align-items: center;
}
.div-7::before{
  content: " ";
  position: absolute;
  top: 64;
  left: 304;
  height: 64px;
  width: 304px;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.div-7:hover::before{
  background: linear-gradient(to left,rgba(255, 74, 163, 1) 0%,rgba(255, 35, 41, 1) 100%);
  box-shadow: 0px 3px 20px 0px rgb(240, 44, 135);
  transform: scale(1.1);
}
.div-8 {
  max-width: 208px;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Rubik, sans-serif;
}
.div-9 {
  max-width: 201px;
  color: rgba(174, 174, 174, 1);
  font-size: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-right: 50px;
  font-family: Rubik, sans-serif;
}
.best{
  display: flex;
  flex-direction: column;
  padding-left: 264px;
  padding-top: 500px;
}
.kenapa-memilih-kami-sebagai-pr {
  max-width: 589px;
  color: black;
  font-size: 36px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Rubik, sans-serif;
}
.produksi-karpet-jumlah-besar-d {
  max-width: 522px;
  color: black;
  font-size: 18px;
  line-height: 160.50000190734863%;
  letter-spacing: 0%;
  text-align: left;
  font-family: Rubik, sans-serif;
}
.div {
  display: flex;
  max-width: 172px;
  height: 5px;
  width: 172px;
  border-radius: 2.5px;
  background: linear-gradient(to left,rgba(255, 74, 163, 1) 0%,rgba(255, 35, 41, 1) 100%);
}
.gambar-karpet{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-height: 650px;
  margin-left: 264px;
  margin-right: 264px;
  gap: 30px;
  margin-top: 250px;
}
.gambar-karpet img{
  width: fit-content;
}
.child-gambar-karpet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  gap: 30px;
}
.kotak{
  position: absolute;
  margin-top: 5%;
  width: 992px;
  height: 402px;
  background: linear-gradient(90deg, #FF479A -4.33%, #FF2A3D 105.07%);
  border-radius: 23px;
  z-index: -1;
}
.footer{
  display: flex;
  justify-content: space-between;
  width: auto;
  height: fit-content;
  margin-top: 10%;
  padding-left: 264px;
  padding-right: 264px;
  padding-top: 3%;
  padding-bottom: 2%;
  color: white;
  background: linear-gradient(180deg, #FF4798 -19.56%, #FF293C 121.85%);
}
.footer li{
  list-style: none;
}
.break{
  flex-basis: 100%;
  height: 0;
}